<!DOCTYPE html>
<html>
<head>
  <title>HangryApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%ENV['GOOGLE_API_KEY']%>&sensor=true"></script>
</head>
<body>
	<div class="bg">
    <div class="title">
      <strong>hangry</strong>
    </div>    

<%= yield %>
      </div>   
</body>
</html>
