/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#out {
  width: 100%;
  height: 100%;
  border: 1px solid #7f8c8d  ;
}

.title {
  color: #EB5624;
  text-align: center;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;	
  padding: 15px;

}

.bg{
  height: 868px;
  background-color: #290f1a;
  padding: 0;
}

.float{
  position:relative;
  top:20%;
  height: 80px;
  display: flex;
  padding: 0;
  align-items:stretch;
}

.btn{
  max-width: 286px;
  align-content:center;
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  background-color: #EB5624;
  border: none;
}

.taco {
	position: relative;
	right: 40%;
	left: 40%;
	top: 30%;
	width: 19%;
	text-align: justify;
	font-size: 15px;
	color: #FF4500;
	padding: 4px 7px 1px 4px;
	z-index: 5;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.7);
}

a {
	padding-top: 50px;
}

#hangry {
	font-size: 30px;
	background-color: #EB5624;
}
